body {
  font: normal 16px 'Roboto', Arial, sans-serif;
  padding: 30px 0;
}

a {
  text-decoration: none;
}


/*** Header ***/

h1 {
  margin: 200px auto 0 auto;
  text-indent: -9999px;
  background: url(../assets/header.svg) no-repeat center/100%;
  height: 200px;
  width: 400px;
  display: inline-block;
}

/*** Body ***/

main {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}


main::after {
  content: "";
  clear: both;
  display: block;
}

.balloon {
  margin-left: 150px;
  margin-right: 50px;
  background: url(../assets/balloon.svg) no-repeat -40px/250%;
  width: 400px;
  height: 1010px;
  position: relative;
  float: left;
}

.panel {
  position: absolute;
  top: 150px;
  left: 80px;
  width: 250px;
}

#btn-twitter {
  position: absolute;
  z-index: 2;
  top: 375px;
  left: 150px;
  text-indent: -9999px;
  background: transparent url(../assets/twitter.svg) no-repeat -2px/300%;
  height: 100px;
  width: 200px;
}

#btn-twitter:hover {
  background-position: -189px;
  cursor: pointer;
}

#btn-twitter:hover ~ .balloon {
  background-position: -529.515px;
}

#btn-generate {
  display: block;
  padding: 0;
  margin-left: 675px;
  background: transparent url(../assets/generate.svg) no-repeat -20px/350%;
  font-size: 0;
  height: 100px;
  width: 250px;
  border: 0;
}

#btn-generate:hover {
  background-position: -312px;
  cursor: pointer;
}

#btn-generate:active {
  background-position: -606px;
}

#about {
  margin-left: 650px;
  margin-top: 200px;
  display: block;
  background: url(../assets/about.svg) no-repeat 0/300%;
  width: 300px;
  height: 300px;
  text-indent: -9999px;
}

#about:hover {
  cursor: pointer;
  background-position: -298.51px;
}

@media (max-width: 1004px) {
  main {
    max-width: 400px;
  }

  h1 {
    width: 300px;
    margin: 0 auto;
    display: block;

  }

  .balloon {
    float: none;
    display: block;
    margin: 100px auto 0 auto;
  }

  #btn-generate {
    position: relative;
    top: -1130px;
    margin: 0 auto;
  }

  #btn-twitter {
    top: 335px;
    left: 15px;
  }

  #about {
    margin: 0 auto;
    position: absolute;
    top: 925px;
    left: 30px;
    background-position: -593px;
  }
}

/*** Footer ***/

footer {
  font-size: 0.7rem;
  text-align: center;
  padding-bottom: 40px;
}